---
layout: index
title: 2015
permalink: /
---

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/55faaeb1123f424a40e59ab4/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 himg">
        <br/><img src="{{ "/assets/img/utphax.png" | prepend: site.baseurl }}" class="img-responsive center-block"><br/>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>UTPHAX</h4>
        <p>UTPHAX is a national level hacking competition organized by Universiti Teknologi PETRONAS.</p>
        <p><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>UTPHAX'15</h4>
        <p>Are you prepared for this year's UTP-HAX competition? Just make sure to register before <b style="color:red;">30th of September</b> and be part of this exclusive event.</p>
        <p><a href="{{ "/compete/registration/" | prepend: site.baseurl }}" class="btn btn-theme">Join Us</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-twitter"></i>
        <h4>Workshop</h4>
        <p>Those who have registered are eligible to attend the exclusive workshop taught by our UTPHAX judges this coming <b style="color:red;">3rd & 4th of October</b>.</p>
        <p><a href="{{ "/compete/participants/" | prepend: site.baseurl }}" class="btn btn-theme">View Details</a></p>
      </div>
    </div>
  </div><! --/container -->
</div><! --/service -->

<br/>
{% include event.html %}

<div class="container mtb">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h4>Latest Posts</h4>
      <div class="hline"></div>
      {% for post in site.categories['blog'] limit:5 %}
      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
      {% endfor %}
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
      <h4>UTP-HAX'15</h4>
      <div class="hline"></div>
      <div class="spacing"></div>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GOxsJZtZmnk"></iframe>
      </div>
      <div class="alert alert-success" role="alert">
        <a href="https://youtu.be/8ASBq7UiKCs" target="_blank" class="alert-link">Click here to see last year's montage.</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <a class="twitter-timeline" href="https://twitter.com/utphax_15" data-widget-id="635075231833452544">Tweets by @utphax_15</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div><! --/row -->
</div><! --/container -->
