---
layout: index
title: 2015
permalink: /
---
<script>
(function() {
  window.oChatProps = window.oChatProps? window.oChatProps : {};
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  var srcVal;
  if('https:' == document.location.protocol) srcVal = "https://cheapchat.me";
  else srcVal = "http://cheapchat.me";
  s.src = srcVal + "/chat/app.js";
  var o = document.getElementsByTagName('script')[0];
  o.parentNode.insertBefore(s, o);
})();
oChatProps.id = "08780fcb-b93d-4428-85cc-17b6043e52b7";
oChatProps.labels = {
        "start.Text": "Ask a question?(10a.m-10p.m)",
        "app.Close": "Close",
        "app.ConnectingToServer": "Connecting to server...",
        "app.ConnectError": "Connect error",
        "app.TryConnectAgain": "Try again",
        "app.Send": "Send",
        "app.SendLoading": "Sending...",
        "app.SendError": "Send error",
  "app.feedback.Title": "All operators is offline now.\nPlease, leave the message,We will contact you after this :) huhu.", 
        "app.SendError.NoOperators": "No operators.",
        "app.SendFeedback": "Send Feedback"
  };

</script>
<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 himg">
        <br/><img src="{{ "/assets/img/utphax.png" | prepend: site.baseurl }}" class="img-responsive center-block"><br/>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>UTPHAX</h4>
        <p>UTPHAX is a national level hacking competition organized by Universiti Teknologi PETRONAS.</p>
        <p><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-twitter"></i>
        <h4>Early Bird Rewards</h4>
        <p>Register before <b style="color:red;">31st August</b> and gain access to exclusive UTPHAX workshop.</p>
        <p><a href="{{ "/compete/registration/" | prepend: site.baseurl }}" class="btn btn-theme">Join Us</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Pre-UTPHAX MV</h4>
        <p>Join us this <b style="color:red;">11th of September</b> for Pre-UTPHAX Mobile Version (MV) at The Royale Chulan Hotel, Kuala Lumpur.</p>
        <p><a href="{{ "/compete/preutphax/" | prepend: site.baseurl }}" class="btn btn-theme">Apply Now</a></p>
      </div>
    </div>
  </div><! --/container -->
</div><! --/service -->

<br/>
{% include event.html %}

<div class="container mtb">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h4>Latest Posts</h4>
      <div class="hline"></div>
      {% for post in site.categories['blog'] limit:5 %}
      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
      {% endfor %}
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
      <h4>UTP-HAX'15</h4>
      <div class="hline"></div>
      <div class="spacing"></div>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GOxsJZtZmnk"></iframe>
      </div>
      <div class="alert alert-success" role="alert">
        <a href="https://youtu.be/8ASBq7UiKCs" target="_blank" class="alert-link">Click here to see last year's montage.</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <a class="twitter-timeline" href="https://twitter.com/utphax_15" data-widget-id="635075231833452544">Tweets by @utphax_15</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>


  </div><! --/row -->
</div><! --/container -->
