<div id="twrap">
  <div id="twrapback"></div>
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <i class="fa fa-comment-o"></i>
        <h3>{{ site.event.title }}</h3><br/>
        <h4>{{ site.event.host }}</h4><br/><br/>
        <div class="justified" style="color:white;font-weight:bold;font-size:16px;">
          <ul class="fa-ul">
            <li><span class="fa-li fa fa-lg fa-calendar">&nbsp&nbsp&nbsp</span>Date: {{ site.event.date }}</li><br/>
            <li><span class="fa-li fa fa-lg fa-twitter">&nbsp&nbsp&nbsp</span>Early Bird: Before {{ site.event.early }}</li><br/>
            <li><span class="fa-li fa fa-lg fa-calendar-times-o">&nbsp&nbsp&nbsp</span>Registration Deadline: {{ site.event.reg }}</li><br/>
            <li><span class="fa-li fa fa-lg fa-university">&nbsp&nbsp&nbsp</span>Venue: {{ site.event.venue }}</li><br/>
          </ul>
        </div>
      </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/twrap -->
