
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UTPHAX is a national level hacking competition organized by Universiti Teknologi PETRONAS.">
    <meta name="author" content="">
    <meta name="google-site-verification" content="okFakjPHOWbFA7YFNgskWCjBKfrSYdez5m4xdteELs8" />
    <link rel="shortcut icon" href="https://i.imgur.com/WnsDaa7.png" type="image/x-icon">
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/55faaeb1123f424a40e59ab4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</head>
