
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="okFakjPHOWbFA7YFNgskWCjBKfrSYdez5m4xdteELs8" />
    <link rel="shortcut icon" href="https://i.imgur.com/WnsDaa7.png" type="image/x-icon">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
