
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script>
	$(document).ready(function() {
		$('#nav').affix({
			offset: {top: $('header').height()}
		});
	});
</script>
{% if page.title == "Participants" %}
<script src="{{ "/assets/js/jquery.dynatable.js" | prepend: site.baseurl }}"></script>
<script>
$.getJSON('/assets/js/participant.json', function(data) {
	$('#my-table').dynatable({
		dataset: {
			records: data
		},
	});
});
</script>
{% endif %}
