
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/galleria.min.js"></script><!-- load Galleria -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/plugins/flickr/galleria.flickr.min.js"></script>
<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/galleria.js" | prepend: site.baseurl }}"></script><!-- load Galleria conf -->
<script src="{{ "/assets/js/gallery.js" | prepend: site.baseurl }}"></script><!-- load flickr Galleries -->
<script>
$(document).ready(function(){
       var highest = null;

       $(".nav-tabs a").each(function(){  //find the height of your highest link
           var h = $(this).height();
           if(h > highest){
              highest = $(this).height();
           }
        });

       $(".nav-tabs a").height(highest);  //set all your links to that height.
});
</script>
