<!-- masthead -->
<header class="masthead">
  <div class="container">
    <div class="spacing"></div>
    <div class="row">
      <div class="col-md-6">
        Sponsored by
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <a href="http://www.fortinet.com/" target="blank"><img src="{{ "/assets/img/organization/fortinet.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://www.cybersecurity.my/" target="blank"><img src="{{ "/assets/img/organization/cybersec.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://www.kperak.com.my/" target="blank"><img src="{{ "/assets/img/organization/kperak.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
        </div><!--/.row-sponsors -->
      </div>
      <div class="col-md-6">
        Organised by
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <a href="http://cyberhax.club/" target="blank"><img src="{{ "/assets/img/organization/cyberhax.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://syntechutp.weebly.com/" target="blank"><img src="{{ "/assets/img/organization/syntech.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
          <div class="col-xs-4 col-md-4">
            <a href="http://utp.edu.my/" target="blank"><img src="{{ "/assets/img/organization/utp.png" | prepend: site.baseurl }}" class="img-responsive center-block"></a>
          </div>
        </div><!--/.row-organizers -->
      </div>
    </div><!--/.main-row -->
    <div class="spacing"></div>
  </div>
</header>

<!-- navbar -->
<div id="nav">
  <div class="navbar navbar-default navbar-static" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
          <li {% if page.title == "About" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
          <li {% if page.title == "Gallery." %}class="active"{% endif %}><a href="{{"/gallery/" | prepend: site.baseurl }}">GALLERY</a></li>
          <li class="disabled" {% if page.title == "Registration" %}class="active"{% endif %}><a class="disabled" href="{{"/register/" | prepend: site.baseurl }}">REGISTER</a></li>
          <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
          <li {% if page.title == "Cosplay Event." %}class="active"{% endif %}><a href="{{"/cosplay/" | prepend: site.baseurl }}">COSPLAY</a></li>
          <li {% if page.title == "IT FAIR" %}class="active"{% endif %}><a href="{{"/it_fair/" | prepend: site.baseurl }}">IT FAIR</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UTPHAX'15 &nbsp<i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li {% if page.title == "Invitation" %}class="active"{% endif %}><a href="{{"/compete/invitation/" | prepend: site.baseurl }}">Invitation</a></li>
              <li {% if page.title == "Programme" %}class="active"{% endif %}><a href="{{"/compete/programme/" | prepend: site.baseurl }}">Programme</a></li>
              <li {% if page.title == "Accommodation" %}class="active"{% endif %}><a href="{{"/compete/accommodation/" | prepend: site.baseurl }}">Accommodation</a></li>
              <li role="separator" class="divider"></li>
              <li {% if page.title == "Registration" %}class="active"{% endif %}><a href="{{"/compete/registration/" | prepend: site.baseurl }}">Registration</a></li>
              <li role="separator" class="divider"></li>
              <li {% if page.title == "Rules" %}class="active"{% endif %}><a href="{{"/compete/rules/" | prepend: site.baseurl }}">Rules</a></li>
              <li {% if page.title == "Prize" %}class="active"{% endif %}><a href="{{"/compete/prize/" | prepend: site.baseurl }}">Prize</a></li>
              <li {% if page.title == "Payment" %}class="active"{% endif %}><a href="{{"/compete/payment/" | prepend: site.baseurl }}">Payment</a></li>
              <li {% if page.title == "Committee" %}class="active"{% endif %}><a href="{{"/compete/committee/" | prepend: site.baseurl }}">Committee</a></li>
              <li {% if page.title == "Participants" %}class="active"{% endif %}><a href="{{"/compete/participants/" | prepend: site.baseurl }}">Participants</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
