<div id="twrap">
  <div id="twrapback"></div>
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <i class="fa fa-cog fa-spin"></i>
        <h3>{{ site.objective.title }}</h3><br/><br/>
          <div class="justified" style="color:white;font-weight:bold;font-size:16px;">
            <ul class="fa-ul"><li><span class="fa-li fa fa-check-square"></span>{{ site.objective.obj1 }}</li></ul>
            <ul class="fa-ul"><li><span class="fa-li fa fa-check-square"></span>{{ site.objective.obj2 }}</li></ul>
            <ul class="fa-ul"><li><span class="fa-li fa fa-check-square"></span>{{ site.objective.obj3 }}</li></ul>
          </div>
        </div>
      </div><! --/row -->
    </div><! --/container -->
  </div><! --/twrap -->
